/* css styles */

/* crop image when in mobile view */

@media (max-width: 768px) {
  .about-image.rounded {
    max-height: 280px;
    object-position: 70% 0;
    object-fit: cover;
  }
}

@media (max-width: 991.98px) {
  div.quarto-about-trestles .about-entity .about-links {
    flex-direction: row;
    column-gap: .8em;
    row-gap: 15px;
    flex-wrap: wrap;
  }
}